@font-face {
  font-family: 'Gotham-Bold';
    src:    url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),  
            url('../fonts/Gotham-Bold.woff') format('woff'), 
            url('../fonts/Gotham-Bold.ttf')  format('truetype'), 
            url('../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Gotham-Light';
    src:    url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),  
            url('../fonts/Gotham-Light.woff') format('woff'), 
            url('../fonts/Gotham-Light.ttf')  format('truetype'), 
            url('../fonts/Gotham-Light.svg#Gotham-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Gotham-Medium';
    src:    url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Gotham-Medium.woff') format('woff'), 
            url('../fonts/Gotham-Medium.ttf')  format('truetype'), 
            url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Book';
  src:  url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),  
        url('../fonts/Gotham-Book.woff') format('woff'), 
        url('../fonts/Gotham-Book.ttf')  format('truetype'), 
        url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

$dark: #242424;
$grey: #edebd4;
body, html{
    padding:0;
    margin:0;
}

body{
    background: #f8f8f8;
    font-size: 14px;
    line-height: 1.2;
    color: #000;
    font-family: 'Gotham-Book';
    position: relative;
}

h2, strong{
  font-family: 'Gotham-Bold';
}

.clear{
  clear: both;
}

.site-inner{
  width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.btn-w{
  display: inline-block;
  padding: 10px 35px;
  font-family: 'Gotham-Bold';
  font-weight: bold;
  color: #242424;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  background: #f8f8f8;
  border-radius: 25px;
  transition: opacity 0.3s ease-out;
  background-clip: padding-box;
  border: 1px solid #f8f8f8;
  &:hover{
    color: #f8f8f8;
    text-decoration: none;
    background: #242424;
    border: 1px solid #f8f8f8;
  }
}

.btn-b{
  display: inline-block;
  padding: 10px 35px;
  font-family: 'Gotham-Bold';
  font-weight: bold;
  color: #f8f8f8;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  background: #242424;
  border-radius: 25px;
  transition: opacity 0.3s ease-out;
  background-clip: padding-box;
  border: 1px solid #242424;
  &:hover{
    color: #242424;
    text-decoration: none;
    background: #f8f8f8;
    border: 1px solid #242424;
  }
}

header.site-heaader{
  position: absolute;
  top:0;
  left:0;
  right:0;
  width: 100%;
  z-index: 99;
}

footer.site-footer{
  background: $dark;
  padding-top: 30px;
  .site-footer-inner{
    display: flex;
    flex-wrap: wrap;
    .footer-logo{
      img{
        display:block;
      }
    }
    .site-copy{
      color: #fff;
      font-size: 12px;
      padding: 41px 20px 0;
    }
  }
}

.home-banner-wrapper{
  width: 100%;
  height: calc( 100vh - 158px);
  overflow: hidden;
  position: relative;
  .home-banner{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width: 100%;
    height: 100%;
    
  }
  .home-banner-content{
    width: 450px;
    text-align: center;
    color: #fff;
    padding-top: 300px;
    
    h3{
      font-size: 25px;
      margin: 0 0 20px;
      opacity:0;
    }
    h2{
      font-family: 'Gotham-Bold';
      font-size: 60px;
      margin: 0 0 20px;
    }
    p{
      font-size: 18px;
      margin: 0 0 20px;
      opacity:0;
    }
    a.btn-w{
      opacity:0;
    }
  }
}


#p1{
  background: url(../images/p650.jpg) no-repeat left center;
  clip-path: polygon(0 0, 50% 0%, 50% 100%, 0% 100%);
  background-size: cover;
  width: 100%;
  z-index:2;
  transition: all 0.5s ease-in;
  &.left{
    // width: 65%;
    transition: all 0.5s ease-in;
    clip-path: polygon(0 0, 55% 0%, 45% 100%, 0% 100%);
    h3{
      opacity: 1;
    }
    p{
      opacity: 1;
    }
    a.btn-w{
      opacity: 1;
    }
  }
  &.right{
    // width: 45%;
    clip-path: polygon(0 0, 45% 0, 55% 100%, 0% 100%);
    transition: all 0.5s ease-in;
  }
  .home-banner-content{
    float:left;
  }
}

#p2{
  background: url(../images/p600.jpg) no-repeat right center;
  background-size: cover;
  z-index:1;
  &.right{
    h3{
      opacity: 1;
    }
    p{
      opacity: 1;
    }
    a.btn-w{
      opacity: 1;
    }
  }
  .home-banner-content{
    float:right;
  }
}

.product-page{
  .page-header{
    padding: 150px 0;
    .page-header-inner{
      text-align: center;
      width: 60%;
      background: rgba(255,255,255,0.8);
      color: #000;
      margin: 0 auto;
      padding: 30px 40px;
      h3{
        font-size: 22px;
        margin: 0 0 20px;
      }
      h2{
        font-size: 52px;
        margin: 0 0 20px;
      }
      p{
        font-size: 16px;
        margin: 0 0 20px;
      }
    }
  }
}

#pro1{
  .page-header{
    background: url(../images/pf600.jpg) no-repeat center center;
    background-size:cover;
  }
}

#pro2{
  .page-header{
    background: url(../images/pf650.jpg) no-repeat center center;
    background-size:cover;
  }
}

.page-middle{
  
  background:#fff;
  .page-middle-inner{
    padding: 50px 0;
    position: relative;
    overflow: hidden;
  }
  .middle-text-block{
    padding: 53px 0;
    position: relative;
    z-index: 6;
    .middle-text-inner{
      width: 500px;
      background: $dark;
      color: #fff;
      box-sizing: border-box;
      padding: 30px;
      p{
        margin: 0 0 15px;
      }
      h2{
        font-size: 40px;
        margin: 0 0 15px;
      }
    }
  }
  .page-middle-bg{
    position: absolute;
    top:50px;
    left: 46%;
    z-index: 3;
  }
}

.page-form{
  background: #f8f8f8;
  text-align: center;
  padding: 60px 0;
  .form-block{
    width: 68%;
    margin: 0 auto;
    h3.form-header{
      width: 80%;
      font-family: 'Gotham-Book';
      font-size: 22px;
      margin: 0 auto 25px;
    }
    #submit-form{
      background: #fff;
      padding: 50px;
      box-sizing: border-box;
      border-radius: 3px;
    }
  }
}

.form-ele{
  display:flex;
  flex-wrap: wrap;
  margin: 0 0 20px;
  .form-col1{
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
  }
  .form-col2{
    width: 50%;
    box-sizing: border-box;
    padding: 0 10px;
  }
  label{
    display:block;
    width: 100%;
    font-size: 15px;
    margin: 0 0 10px;
    text-align: left;
    text-transform: uppercase;
  }
  input{
    width: 100%;
    border: 1px solid rgb(183, 183, 183);
    border-radius: 3px;
    box-sizing: border-box;
    padding: 10px;
    height: 40px;
    font-family: 'Gotham-Book';
    font-size: 15px;
    line-height: 16px;
    ::placeholder{
      font-family: 'Gotham-Book';
      font-size: 15px;
    }
  }
  input[type="checkbox"]{
    width: auto;
    float: left;
    margin-right: 10px;
    height: auto;
  }
  select{
    width: 100%;
    border: 1px solid rgb(183, 183, 183);
    border-radius: 3px;
    box-sizing: border-box;
    padding: 10px;
    background:#eeeeee;
    height: 40px;
    font-family: 'Gotham-Book';
    font-size: 15px;
    line-height: 16px;
    ::placeholder{
      font-family: 'Gotham-Book';
      font-size: 15px;
    }
  }
  label.forcheck{
    text-transform: none;
    font-size: 13px;
    line-height: 20px;
  }
  textarea{
    width: 100%;
    border: 1px solid rgb(183, 183, 183);
    border-radius: 3px;
    box-sizing: border-box;
    padding: 10px;
    height: 90px;
    font-family: 'Gotham-Book';
    font-size: 15px;
    ::placeholder{
      font-family: 'Gotham-Book';
      font-size: 15px;
    }
  }
  .DayPickerInput{
    display:block;
  }

  input[type="submit"]{
    background: $dark;
    color:#fff;
    font-family: 'Gotham-Bold';
    font-size: 16px;
    border-radius: 25px;
    border:1px solid $dark;
    padding: 15px 0;
    height: auto;
    &:hover{
      background: #fff;
      color:$dark;
    }
  }
}

// File uploader css
#file-upload-zone{
  #progress-wrp {
      display:none;
      position: relative;
      margin: 10px;
      text-align: left;
      background: #fff;
      height: 20px;
  }
  #progress-wrp .progress-bar{
      height: 20px;
      border-radius: 3px;
      background-color: #ddd;
      width: 0;
  }
  #progress-wrp .status{
      position:absolute;
      top:0;
      left:0;
      right:0;
      width: 100%;
      text-align: center;
      color: #000000;
      font-size: 12px;
      line-height: 20px;
  }
  &.uploading{
    #progress-wrp{
      display:block;
    }
  }
  p{
      margin: 0 0 10px;
  }
  #output{
    color: red;
  }
}

#uplaod-btn{
  display: inline-block;
  text-decoration: none;
  padding: 10px 15px;
  color: #333;
  font-size: 14px;
  background: #ddd;
  text-transform: uppercase;
  font-size: 18px;
  margin-top:20px;
  border-radius: 3px;
}

#upload-output{
  color: $dark;
  font-size: 14px;
  line-height: 18px;
  p{
      margin: 0 0 10px;
  }
}
.msg{
  color: $dark;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  box-sizing: border-box;
  padding: 15px;
  &.error{
    border: 1px solid #d70902;
    padding-left: 50px;
    background:url(../images/cross.png) no-repeat 15px 15px;
  }
  &.success{
    border: 1px solid #00cc74;
    padding-left: 50px;
    background:url(../images/tick.png) no-repeat 15px 15px;
  }
  p{
      margin: 0 0 10px;
  }
}